* {
  font-family: "Source Sans 3", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

.text-justify {
  text-align: justify;
}

.font-size-17 {
  font-size: 17px;
}

#person-svg {
  display: block;
  margin: 0 auto;
}